In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from report_data import ReportData
from utils import summarize_report

In [3]:
report = ReportData(sub_dir="example", file_name="transactions.xlsx")

INFO: supported currencies are: {'ZAR', 'BGN', 'HKD', 'INR', 'RON', 'AUD', 'PLN', 'TRY', 'SEK', 'DKK', 'CHF', 'CNY', 'SGD', 'MXN', 'BRL', 'CZK', 'NOK', 'IDR', 'NZD', 'USD', 'CAD', 'GBP', 'MYR', 'THB', 'PHP', 'JPY', 'HUF', 'KRW'}

# Monthly Exchange Rates
This is probably the right one according to the Bundesfinanzministerium and its list of "Umsatzsteuer-Umrechnungskurse" which also should apply to capital gains on assets in foreign currencies

In [4]:
# analzye data for report year 2022 and use "daily" reference exchange rates
# the other alternative is "monthly_avg", i.e. per-month average rates (both EZB)
dfs = report.consolidate_report(2022, "monthly_avg")
# to create excel report: report.create_excel_report(2022, "daily", "report_2022.xlsx")

In [5]:
dfs[0] # shares

,Symbol,Quantity,Buy Date,Sell Date,Buy Price,Sell Price,Buy Price [EUR],Sell Price [EUR],Gain [EUR]
0,NVDA,2,2019-02-28,2022-09-05,114.00 USD,156.00 USD,100.43,157.52,114.17
1,NVDA,20,2020-02-28,2022-09-05,178.00 USD,156.00 USD,163.23,157.52,-114.24
2,NVDA,10,2021-09-21,2022-09-22,132.00 USD,166.00 USD,112.15,167.61,554.66
3,NVDA,1,2022-09-21,2022-09-22,160.00 USD,166.00 USD,161.55,167.61,6.06
4,NVDA,19,2022-09-21,2022-09-23,160.00 USD,171.50 USD,161.55,173.17,220.62
5,APPL,3,2019-10-11,2022-11-02,139.00 USD,110.00 USD,125.76,107.83,-53.80
6,APPL,2,2019-10-11,2022-11-03,139.00 USD,120.00 USD,125.76,117.63,-16.26
7,GOOG,5,2022-10-11,2022-11-03,89.00 USD,70.00 USD,90.58,68.62,-109.80
8,GOOG,5,2022-10-11,2022-11-14,89.00 USD,100.00 USD,90.58,98.03,37.24

In [6]:
dfs[1] # forex

,Symbol,Quantity,Buy Date,Sell Date,Buy Price [EUR],Sell Price [EUR],Gain [EUR]
0,USD,85.00,2022-04-01,2022-10-12,0.92,1.02,7.94
1,USD,85.00,2022-07-01,2022-10-12,0.98,1.02,3.00
2,USD,3431.97,2022-09-05,2022-10-12,1.01,1.02,27.55
3,USD,1825.99,2022-09-22,2022-10-12,1.01,1.02,14.66
4,USD,3088.48,2022-09-23,2022-10-12,1.01,1.02,24.79
5,USD,170.00,2022-09-23,2022-12-01,1.01,0.94,-11.10
6,USD,329.99,2022-11-02,2022-12-01,0.98,0.94,-11.84
7,USD,349.99,2022-11-03,2022-12-01,0.98,0.94,-12.56
8,USD,239.99,2022-11-03,2022-12-01,0.98,0.94,-8.61
9,USD,499.99,2022-11-14,2022-12-01,0.98,0.94,-17.94

In [7]:
dfs[2] # dividends

  Symbol           Comment        Date      Amount  Amount [EUR]
0   NVDA  Dividend Payment  2022-04-01  100.00 USD         92.43
1   APPL  Dividend Payment  2022-07-01  100.00 USD         98.24

In [8]:
dfs[3] # fees

  Symbol                 Comment        Date     Amount  Amount [EUR]
0    USD  Fees on Sale of Shares  2022-09-05   0.03 USD          0.03
1    USD  Fees on Sale of Shares  2022-09-22   0.01 USD          0.01
2    USD  Fees on Sale of Shares  2022-09-23   0.02 USD          0.02
3    USD    Fee on Wire Transfer  2022-10-12  15.00 USD         15.27
4    USD  Fees on Sale of Shares  2022-11-02   0.01 USD          0.01
5    USD  Fees on Sale of Shares  2022-11-03   0.01 USD          0.01
6    USD  Fees on Sale of Shares  2022-11-03   0.01 USD          0.01
7    USD  Fees on Sale of Shares  2022-11-14   0.01 USD          0.01
8    USD    Fee on Wire Transfer  2022-12-01  15.00 USD         14.17

In [9]:
dfs[4] # withheld taxes

  Symbol                    Comment        Date     Amount  Amount [EUR]
0   NVDA  Withheld Tax on Dividends  2022-04-01  15.00 USD         13.86
1   APPL  Withheld Tax on Dividends  2022-07-01  15.00 USD         14.74

In [10]:
report_monthly_rates = summarize_report(*dfs)

In [11]:
report_monthly_rates

  ELSTER - Anlage                       ELSTER - Zeile (Suggestion!)   Value
0      Anlage KAP  Zeile 19: Ausländische Kapitalerträge (ohne Be...  829.32
1      Anlage KAP  Zeile 20: In den Zeilen 18 und 19 enthaltene G...  932.75
2      Anlage KAP  Zeile 23: In den Zeilen 18 und 19 enthaltene V...  294.10
3      Anlage KAP  Zeile 41: Anrechenbare noch nicht angerechnete...   28.60
4        Anlage N  Zeile 48: (Werbungskosten Sonstiges): Überweis...   29.54
5       Anlage SO  Zeilen 42 - 48: Gewinn / Verlust aus Verkauf v...   15.89

# Daily Exchange Rates
This is should also be legal (should not is, consult a tax advisor if in doubt). It can make a difference. If the difference is large enough, it might be worth a shot. 

Note that the **exact exchange rates** e.g. the ones you got on your wire transfers, are definitely **NOT** legal which has been tested in court.

As long as you use the EZB reference courses, it probably should be fine both ways. However, the monthly exchange rates might make it easier in terms of reporting gains/losses on foreign currencies, e.g. if you always have a wire transfer a few days after a sale order and might be more reliable with the Finanzamt.

In [12]:
# analzye data for report year 2022 and use "daily" reference exchange rates
# the other alternative is "monthly_avg", i.e. per-month average rates (both EZB)
dfs_daily = report.consolidate_report(2022, "daily")
# to create excel report: report.create_excel_report(2022, "daily", "report_2022.xlsx")

In [13]:
dfs_daily[0] # shares

,Symbol,Quantity,Buy Date,Sell Date,Buy Price,Sell Price,Buy Price [EUR],Sell Price [EUR],Gain [EUR]
0,NVDA,2,2019-02-28,2022-09-05,114.00 USD,156.00 USD,99.86,157.26,114.80
1,NVDA,20,2020-02-28,2022-09-05,178.00 USD,156.00 USD,162.16,157.26,-97.98
2,NVDA,10,2021-09-21,2022-09-22,132.00 USD,166.00 USD,112.46,167.95,554.93
3,NVDA,1,2022-09-21,2022-09-22,160.00 USD,166.00 USD,161.52,167.95,6.43
4,NVDA,19,2022-09-21,2022-09-23,160.00 USD,171.50 USD,161.52,175.83,271.83
5,APPL,3,2019-10-11,2022-11-02,139.00 USD,110.00 USD,125.87,111.02,-44.55
6,APPL,2,2019-10-11,2022-11-03,139.00 USD,120.00 USD,125.87,123.04,-5.67
7,GOOG,5,2022-10-11,2022-11-03,89.00 USD,70.00 USD,91.54,71.77,-98.81
8,GOOG,5,2022-10-11,2022-11-14,89.00 USD,100.00 USD,91.54,96.91,26.87

In [14]:
dfs_daily[1] # forex

,Symbol,Quantity,Buy Date,Sell Date,Buy Price [EUR],Sell Price [EUR],Gain [EUR]
0,USD,85.00,2022-04-01,2022-10-12,0.90,1.03,10.67
1,USD,85.00,2022-07-01,2022-10-12,0.96,1.03,6.04
2,USD,3431.97,2022-09-05,2022-10-12,1.01,1.03,76.28
3,USD,1825.99,2022-09-22,2022-10-12,1.01,1.03,33.88
4,USD,3088.48,2022-09-23,2022-10-12,1.03,1.03,15.66
5,USD,170.00,2022-09-23,2022-12-01,1.03,0.96,-11.67
6,USD,329.99,2022-11-02,2022-12-01,1.01,0.96,-17.40
7,USD,349.99,2022-11-03,2022-12-01,1.03,0.96,-24.06
8,USD,239.99,2022-11-03,2022-12-01,1.03,0.96,-16.50
9,USD,499.99,2022-11-14,2022-12-01,0.97,0.96,-6.26

In [15]:
dfs_daily[2] # dividends

  Symbol           Comment        Date      Amount  Amount [EUR]
0   NVDA  Dividend Payment  2022-04-01  100.00 USD         90.48
1   APPL  Dividend Payment  2022-07-01  100.00 USD         95.92

In [16]:
dfs_daily[3] # fees

  Symbol                 Comment        Date     Amount  Amount [EUR]
0    USD  Fees on Sale of Shares  2022-09-05   0.03 USD          0.03
1    USD  Fees on Sale of Shares  2022-09-22   0.01 USD          0.01
2    USD  Fees on Sale of Shares  2022-09-23   0.02 USD          0.02
3    USD    Fee on Wire Transfer  2022-10-12  15.00 USD         15.45
4    USD  Fees on Sale of Shares  2022-11-02   0.01 USD          0.01
5    USD  Fees on Sale of Shares  2022-11-03   0.01 USD          0.01
6    USD  Fees on Sale of Shares  2022-11-03   0.01 USD          0.01
7    USD  Fees on Sale of Shares  2022-11-14   0.01 USD          0.01
8    USD    Fee on Wire Transfer  2022-12-01  15.00 USD         14.35

In [17]:
dfs_daily[4] # withheld taxes

  Symbol                    Comment        Date     Amount  Amount [EUR]
0   NVDA  Withheld Tax on Dividends  2022-04-01  15.00 USD         13.57
1   APPL  Withheld Tax on Dividends  2022-07-01  15.00 USD         14.39

In [18]:
report_daily_rates = summarize_report(*dfs_daily)

In [19]:
report_daily_rates

  ELSTER - Anlage                       ELSTER - Zeile (Suggestion!)   Value
0      Anlage KAP  Zeile 19: Ausländische Kapitalerträge (ohne Be...  914.25
1      Anlage KAP  Zeile 20: In den Zeilen 18 und 19 enthaltene G...  974.86
2      Anlage KAP  Zeile 23: In den Zeilen 18 und 19 enthaltene V...  247.01
3      Anlage KAP  Zeile 41: Anrechenbare noch nicht angerechnete...   27.96
4        Anlage N  Zeile 48: (Werbungskosten Sonstiges): Überweis...   29.90
5       Anlage SO  Zeilen 42 - 48: Gewinn / Verlust aus Verkauf v...   66.64

# Comparison

In [20]:
report_daily_rates

  ELSTER - Anlage                       ELSTER - Zeile (Suggestion!)   Value
0      Anlage KAP  Zeile 19: Ausländische Kapitalerträge (ohne Be...  914.25
1      Anlage KAP  Zeile 20: In den Zeilen 18 und 19 enthaltene G...  974.86
2      Anlage KAP  Zeile 23: In den Zeilen 18 und 19 enthaltene V...  247.01
3      Anlage KAP  Zeile 41: Anrechenbare noch nicht angerechnete...   27.96
4        Anlage N  Zeile 48: (Werbungskosten Sonstiges): Überweis...   29.90
5       Anlage SO  Zeilen 42 - 48: Gewinn / Verlust aus Verkauf v...   66.64

In [21]:
report_monthly_rates

  ELSTER - Anlage                       ELSTER - Zeile (Suggestion!)   Value
0      Anlage KAP  Zeile 19: Ausländische Kapitalerträge (ohne Be...  829.32
1      Anlage KAP  Zeile 20: In den Zeilen 18 und 19 enthaltene G...  932.75
2      Anlage KAP  Zeile 23: In den Zeilen 18 und 19 enthaltene V...  294.10
3      Anlage KAP  Zeile 41: Anrechenbare noch nicht angerechnete...   28.60
4        Anlage N  Zeile 48: (Werbungskosten Sonstiges): Überweis...   29.54
5       Anlage SO  Zeilen 42 - 48: Gewinn / Verlust aus Verkauf v...   15.89